/* &display=swap */

@import url(nullstyle.css);

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Ubuntu:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

@font-face {
	font-family: "Formular";
	src: url("../fonts/Formular.woff2") format("woff2"), url("../fonts/Formular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Formular";
	src: url("../fonts/Formular-Bold.woff2") format("woff2"), url("../fonts/Formular-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Formular";
	src: url("../fonts/Formular-Black.woff2") format("woff2"), url("../fonts/Formular-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

body {
	text-align: center;
	font-family: "Formular", sans-serif;
	color: rgb(70, 70, 70);
	font-size: 16px;
	font-weight: 400;
}
p {
	text-indent: 50px;
	line-height: 1.3;
	text-align: justify;
}
h1 {
	text-align: center;
	font-weight: 900;
	font-size: 40px;
	line-height: 2.2;
}
h2 {
	text-align: center;
	font-size: 32px;
	font-weight: 900;
	line-height: 1.8;
}
h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.4;
}
h1,
h2,
h3 {
	font-family: "Formular-Bold", sans-serif;
	color: blueviolet;
	text-shadow: 5px 5px 5px #000;
}
img {
	text-align: center;
}
/* .wrapper {
} */
nav {
	font-family: "Formular-Bold", sans-serif;
	text-align: right;
	font-size: 20px;
	color: blueviolet;
}

div > h3 {
	color: aqua;
	text-align: left;
	text-indent: 50px;
}
.article-header p {
	color: #000;
	text-align: left;
	font-family: "Roboto", sans-serif;
	line-height: 1.2;
}
.sticker {
	font-family: "Roboto", sans-serif;
	font-style: italic;
}
.sticker p {
	text-align: left;
	color: blue;
	font-weight: 700;
	text-decoration: underline;
}
.list {
	text-align: left;
	text-indent: 50px;
	line-height: 1.1;
}
.list li {
	font-size: 18px;
	font-family: "Lobster", sans-serif;
	color: rgb(0, 255, 21);
}
.dictionary {
	text-align: justify;
	font-family: "Roboto", sans-serif;
}
.history {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

.books {
	font-family: "Ubuntu", sans-serif;
	text-align: right;
}
.books h3 {
	text-align: right;
}
.music {
	font-style: oblique;
	text-transform: uppercase;
	color: rgb(255, 197, 5);
}
.films p {
	letter-spacing: 3px;
}
.coffee p {
	word-spacing: 20px;
}
footer {
	text-transform: uppercase;
	font-size: 30px;
}
.scroll-top {
	text-decoration: underline;
	color: rgb(10, 206, 10);
}
.next-page {
	color: rgb(255, 0, 0);
	text-decoration: overline;
}
