/* &display=swap */

@import url(nullstyle.css);
@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);

/* .wrapper {
} */

body {
	font-size: 16px;
	text-align: left;
	font-family: "Lato", sans-serif;
	color: #1e212c;
	font-weight: 400;
}

h1 {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
}

.subtitle {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
}
.text-block,
.list,
.text-block-2 {
	line-height: 1.6;
}
.quote {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
}
